.sectionone__img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}


.sectionone__content-text{
    font-size: var(--sub);
    font-family: var(--font-1);
}
.sectionone{
    display: grid;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 30px;

}
.sectionone__btn{
    justify-self: center;
}

@media (max-width:568px){
.sectionone__img{
    grid-template-columns: repeat(1,1fr);
}
}